<div id="home">
    <div class="container-fluid header " >
        <div class="margin-top image">
            <h1 class="title center">Giełda samochodowa</h1>
            <div class="centered-text">
                <h2>Dołącz do nas i znajdź swój wymarzony samochód</h2>
            </div>
            <div class="nav-action">
                <div class="button">
                    <div><a class="btn btn-primary">Zaloguj się </a></div>
                </div>
                <div class="button">
                <div><a class="btn btn-success">Zarejestruj się</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid box">
        <h2>Rekomendowane oferty</h2>
        
    </div>
</div>